<header th:replace="fragments/includes/1-top-template.html"></header>
<div class="container-fluid">

  <!-- Main Content --------------------------------------->

  <!-- ADD/EDIT CLIENT --------->

  <form class="needs-validation" id="theForm" action="#" data-th-action="@{/clients}" data-th-object="${command}" method="post">
    <input type="hidden" data-th-field="*{id}" />
    <div data-th-if="${saved}" class="message-box-info">
      Saved
    </div>

    <input type="hidden" data-th-field="*{id}" />
    <div class="form-row">

      <div class="form-group col-md-6 was-validated">
        <label class="small mb-0" for="name">Name</label>
        <input id="name" name="name" placeholder="name" type="text" class="form-control text-capitalize" data-th-field="*{name}" required>
      </div>

      <div class="form-group col-md-6">
        <label class="small mb-0" for="phone">Phone</label>
        <input name="phone" placeholder="Phone" type="text" class="form-control js-format-phone" data-th-field="*{phoneNumber}" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label class="small mb-0" for="address">Address</label>
        <input id="address" name="address" placeholder="Street" type="text" class="form-control text-capitalize" data-th-field="*{address}">
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col">
      <button type="submit" form="theForm" class="btn btn-primary btn-sm custom-buttons" value="Save">Save</button>
      <a class="btn btn-primary btn-sm custom-buttons" data-th-href="@{/clients}">Cancel</a>
      <a class="btn btn-primary btn-sm custom-buttons js-confirm-delete" data-toggle="confirmation" targetdata-th-if="${command.id != null}" data-th-href="@{/clients/{c}/delete(c=${command?.id})}">Delete</a>
      <a class="btn btn-outline-secondary btn-sm custom-buttons" data-th-if="${command.id != null}" data-toggle="collapse" href="#collapseAddNewPet" role="button" aria-expanded="false" aria-controls="collapseAddNewPet">
        add pet
      </a>
      <a class="btn btn-outline-secondary btn-sm custom-buttons" data-th-if="${pets.size() > 0}" data-toggle="collapse" href="#collapseAddNewAppointment" role="button" aria-expanded="false" aria-controls="collapseAddNewAppointment">
        new appointment
      </a>
    </div>
  </div>

  <hr>

  <!-- ADD NEW PET --------->
  <div class="collapse" id="collapseAddNewPet">
    <div class="card card-body mb-4 col border-1 bg-transparent p-2">
      <h4 class="text-muted font-weight-light mx-2">new pet</h4>

      <form class="needs-validation" id="petForm" action="#" data-th-action="@{/pets}" method="post">
        <input name="clientId" type="hidden" data-th-value="${command.id}">

        <div class="form-row was-validated mx-1">
          <div class="form-group col-6">
            <label class="small mb-0" for="name">name</label>
            <input id="name" name="name" placeholder="pet name" type="text" class="form-control form-control-sm text-capitalize" required>
          </div>

          <div class="form-group col-2">
            <label for="gender" class="small mb-0">gender</label>
            <select id="gender" name="gender" class="form-control form-control-sm">
              <option value="Male" selected="selected">M</option>
              <option value="Female">F</option>
            </select>
          </div>

          <div class="form-check mt-4 ml-3">
            <input class="form-check-input" type="checkbox" id="altered" name="altered">
            <label class="form-check-label small" for="altered" id="altered" name="altered" type="checkbox">
              Altered
            </label>
          </div>

        </div>

        <div class="form-group">
          <button type="submit" form="petForm" class="btn btn-primary btn-sm mx-2" value="add">Add</button>
        </div>

      </form>

    </div>
  </div>

  <!-- ADD/EDIT APPOINTMENT --------->
  <div class="collapse" id="collapseAddNewAppointment">
    <div class="card card-body mb-2 col border-1 p-2 theme-col opacity-50 small">
      <h4 class="text-muted font-weight-light mx-2">new appointment</h4>

      <form class="needs-validation" id="appointmentForm" action="#" data-th-action="@{/appointments}" method="post">
        <div class="form-row mx-1">

          <input name="client_id" type="hidden" data-th-value="${command.id}">
          <div class="form-group col-12 ">
            <label class="small mb-0" for="pet_id">Pet</label>
            <select id="pet_id" name="pet_id" class="form-control">
              <option data-th-each="pet, rowStat : ${pets}" data-th-value="${pet.id}" data-th-text="${pet.name}"></option>
            </select>
          </div>

          <div class="form-group col-7 col-md-4 was-validated">
            <label class="small mb-0" for="name">Date</label>
            <input id="appt_date" name="appt_date" placeholder="Appointment Date (MM/DD/YYYY)" class="form-control js-format-date" type="date" required>
          </div>

          <div class="form-group col-5 col-md-4">
            <label class="small mb-0" for="appt_time">Time</label>
            <input id="appt_time" name="appt_time" type="time" min="9:00" max="18:00" class="form-control" required>
            <span class="validity"></span>
          </div>

          <div class="form-group col-sm-12 col-md-4 col-sm-12 ">
            <label class="small mb-0" for="appt_type">Reason for visit</label>
            <input id="appt_type" name="appt_type" placeholder="Reason for Appointment" type="text" class="form-control text-capitalize" required>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" form="appointmentForm" class="btn btn-primary btn-sm mx-2" value="add">Add</button>
        </div>

      </form>

    </div>
  </div>


  <div class="mt-4" data-th-if="${command.id != null}">

    <div data-th-if="${deleted}" class="message-box-info">
      Deleted successfully
    </div>

    <!-- UPDATE PET INFO --------->

    <div class="row" data-th-if="${pets.size() > 0}">
      <div class="col-sm-12">
        <h5><span data-th-text="${pets.size()}">...</span> pet(s):</h5>
      </div>

      <div class="col-sm-4" data-th-each="pet, rowStat : ${pets}">

        <div class="card mb-3">
          <div class="custom card-body">

            <form data-th-action="@{/pets}" data-th-id="'updateForm-'+${pet.id}" data-th-object="${command}" method="post">
              <fieldset data-th-id="'pet-'+${pet.id}" disabled>
                <input name="id" type="hidden" data-th-value="${pet.id}">
                <input name="clientId" type="hidden" data-th-value="${command.id}">

                <div class="form-row p-0 mb-0 was-validated">
                  <div class=" form-group col-4 col-md-10 col-lg-12 mb-0">
                    <label class="sr-only small mb-0">name</label>
                    <span class="small"><a data-th-href="@{/pets/{pid}?clientId={cid}(pid=${pet.id}, cid=${command.id})}" data-th-text="${pet.id}" class="text-body">...</a></span>
                    <input type="text" name="name" data-th-value="${pet.name}" class="form-control form-control-sm" required>
                  </div>

                  <div class="form-group col-4 col-md-6 mb-0">
                    <label for="gender" class="small mb-0">gender</label>
                    <select id="gender" name="gender" class="form-control form-control-sm">
                      <option th:value="${pet.gender}" th:text="${#strings.substring(pet.gender,0,1)}"></option>
                          <option th:value="'Female'" th:text="F" th:if="${{pet.gender}}=='Male'"></option>
                          <option th:value="'Male'" th:text="M" th:if="${{pet.gender}}=='Female'"></option>
                      </select>
                  </div>
                  <div class="form-group col-4 col-md-6 mb-0">
                      <label class="small mb-0">altered</label>
                      <select id="altered" name="altered" class="form-control form-control-sm">
                          <option th:value="${pet.altered}"  th:text="${{pet.altered}}"></option>
                          <option th:value="'true'" th:text="true" th:if="${{pet.altered}}=='false'"></option>
                          <option th:value="'false'" th:text="false" th:if="${{pet.altered}}=='true'"></option>
                      </select>
                  </div>
                </div>

                <div class="pet-menu">
                  <small class="text-muted"><a data-toggle="confirmation" href="#" data-th-href="@{'/pets/'+${pet.id}+'/delete'}" data-th-value="${command.id}">Delete</a> |
                    <a class="edit-pet-link" href="#" onclick="poppy(event);" data-th-value="${pet.id}">Edit Pet</a> |
                    <button type="submit" data-th-form="'updateForm-'+${pet.id}" class="reset pet-save" value="Save">Save</button>
                  </small>
                </div>
                
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <!-- APPOINTMENTS INFO --------->

  	<div class="row" data-th-if="${appointments.size() > 0}">
      <div class="col-sm-12">
        <h5><span data-th-text="${appointments.size()}">...</span> appointment(s):</h5>
      </div>

      <div class="mx-3 col-sm-6 card mb-2">
        <div class="custom card-body">
            <div class="table-responsive" data-th-if="${appointments.size() > 0}">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Appointment ID </th>
                      <th>Pet ID</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Reason for Visit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-th-each="appointment : ${appointments}">
                        <td><a data-th-href="@{/appointments/{id}(id=${appointment.id})}" data-th-text="${appointment.id}">...</a></td>
	                    <td data-th-text="${appointment.pet_id}">...</td>
	                    <td data-th-text="${appointment.appt_date}">...</td>
	                    <td data-th-text="${appointment.appt_time}">...</td>
	                    <td data-th-text="${appointment.appt_type}">...</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
      </div>
    
    
  </div>



<!-- end ------------------------------------------------->
</div>

<footer th:replace="fragments/includes/2-bottom-template.html"></footer>
<!-- add additional scripts below -->

<script>
  // scripts for undisabling pet edit links
  function sesame(i) {
    let x = "#updateForm-" + i + " fieldset";
    $(x).prop('disabled', false);
  }
  function poppy(event) {
    event.preventDefault()
    var element = event.target;
    var id = element.getAttribute("value");
    sesame(id);
  }
</script>

</body>
</html>