<header th:replace="fragments/includes/1-top-template.html"></header>
<style>
	#content{
		background-image: url("/images/grid.jpg");
		background-size:cover;
</style>
<center>
<div class="container-welcome">
  <h2 mt-5>All Pets Vet Care</h2>
  <h4 mt-4> Admin Site </h4>

<!-- Main Content --------------------------------------->
<div class="container-fluid">
  <br>
	<div class="container-pictures">
		<div id="carouselExampleSlidesOnly" class="center"
			data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="/images/Happy-puppy.png" class="d-block w-100"
						alt="/images/Happy-puppy.png">
				</div>
								
				<div class="carousel-item">
					<img src="/images/side_head_dog.jpg" class="d-block w-100"
						alt="/images/side_head_dog.jpg">
				</div>
				
				<div class="carousel-item">
					<img src="/images/iguana.jpg" class="d-block w-100"
						alt="/images/iguana.jpg">
				</div>
				<div class="carousel-item">
					<img src="/images/two_cat_dogs.jpg" class="d-block w-100"
						alt="/images/two_cat_dogs.jpg">
				</div>
				
				<div class="carousel-item">
					<img src="/images/cat_and_donkey.jpg" class="d-block w-100"
						alt="/images/cat_and_donkey.jpg">
				</div>
			</div>
		</div>
	</div>

<!-- end ------------------------------------------------->
</div>
</div>
</center>
<footer th:replace="fragments/includes/2-bottom-template.html"></footer>
<!-- add additional scripts below -->